<mat-horizontal-stepper
  #horizontalStepper
  linear="true"
  class="mat-elevation-z2"
  fxShow="false"
  fxShow.gt-sm
>
  <mat-step [stepControl]="billingForm" label="Billing Details">
    <form [formGroup]="billingForm" (ngSubmit)="checkOut()" autocomplete="off">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Shipping Addrees</mat-label>
            <input
              matInput
              placeholder="First name"
              formControlName="shippingAddress"
              required
            />
            <mat-error
              *ngIf="billingForm.controls.shippingAddress.errors?.required"
              >Shipping Address is required</mat-error
            >
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>City</mat-label>
            <input
              matInput
              placeholder="First name"
              formControlName="city"
              required
            />
            <mat-error *ngIf="billingForm.controls.city.errors?.required"
              >City is required</mat-error
            >
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Postal Code</mat-label>
            <input
              matInput
              placeholder="Postal Code"
              formControlName="postalCode"
              required
            />
            <mat-error *ngIf="billingForm.controls.postalCode.errors?.required"
              >Postal Code is required</mat-error
            >
          </mat-form-field>
          <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Payment Type</mat-label>
              <mat-select formControlName="paymentType" required>
                <mat-option *ngFor="let item of paymentTypes" [value]="item.id">
                  <span>{{ item.name }}</span>
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="billingForm.controls.paymentType.errors?.required"
                >Payment Type is required</mat-error
              >
            </mat-form-field>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
          <mat-radio-group
            fxLayout="column"
            fxLayoutAlign="center"
            required
            name="methods"
          >
            <mat-radio-button
              *ngFor="let method of deliveryMethods"
              color="primary"
              [value]="method"
              class="mt-1"
              ><b>{{ method.name }}</b> {{ method.desc }}</mat-radio-button
            >
          </mat-radio-group>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row wrap" *ngIf="paymentType === 1">
          <div
            fxFlex="100"
            fxLayout="column"
            fxLayoutAlign="start start"
            class="p-1"
          >
            <span class="text-muted">Credit Card</span>
            <img src="assets/images/others/card-icon.png" alt="" />
          </div>
          <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Card number</mat-label>
              <input
                matInput
                placeholder="Card number"
                formControlName="cardNumber"
                required
              />
              <mat-error
                *ngIf="billingForm.controls.cardNumber.errors?.required"
                >Card number is required</mat-error
              >
            </mat-form-field>
            <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Experation Date</mat-label>
                <input
                  matInput
                  placeholder="Card number"
                  formControlName="experationDate"
                  required
                />
                <mat-error
                  *ngIf="billingForm.controls.experationDate.errors?.required"
                  >Experation Date is required</mat-error
                >
              </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>CVV</mat-label>
                <input
                  matInput
                  placeholder="CVV"
                  formControlName="cvv"
                  required
                />
                <mat-error *ngIf="billingForm.controls.cvv.errors?.required"
                  >CVV is required</mat-error
                >
              </mat-form-field>
            </div>
          </div>
        </div>
        <div fxFlex="100" class="mt-2 text-center w-100">
          <button mat-raised-button color="primary" type="submit">
            CheckOut
          </button>
        </div>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
