@use '~@angular/material' as mat;
$green-primary: mat.define-palette(mat.$light-green-palette, 700, 50, 900);
$green-accent: mat.define-palette(mat.$grey-palette, 300, 100, 700);
$green-warn: mat.define-palette(mat.$red-palette, 500, A200, 800);

$green-theme: mat.define-light-theme($green-primary, $green-accent, $green-warn);