<div class="p-1">
  <form [formGroup]="productFilterForm">
    <mat-form-field appearance="outline" class="w-100">
      <input matInput placeholder="Search user by name..." name="search" />
    </mat-form-field>
    <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Category</mat-label>
        <mat-select required>
          <mat-option *ngFor="let item of productCategories" [value]="item.id">
            <span>{{ item.name }}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <mat-card class="p-0">
    <div
      fxLayout="row wrap"
      fxLayoutAlign="space-between center"
      class="w-100 p-2"
    >
      <h2>Product List</h2>
      <button mat-raised-button color="primary">Add Product</button>
    </div>
    <mat-divider></mat-divider>
    <div class="mat-table admin-table">
      <div class="mat-header-row">
        <div class="mat-header-cell">Product Name</div>
        <div class="mat-header-cell">Description</div>
        <div class="mat-header-cell">Price</div>
        <div class="mat-header-cell">Category</div>
        <div class="mat-header-cell"></div>
      </div>
      <!-- <div *ngFor="let customer of customers | paginate: { itemsPerPage: count, currentPage: page }" class="mat-row">
                <div class="mat-cell">{{customer.firstName}} {{customer.lastName}}</div>
                <div class="mat-cell">{{customer.username}}</div>
                <div class="mat-cell">{{customer.email}}</div>
                <div class="mat-cell">{{ ( stores | filterById : customer.storeId )?.name }}</div> 
                <div class="mat-cell">${{customer.walletBalance.toFixed(2)}}</div>
                <div class="mat-cell">${{customer.revenue.toFixed(2)}}</div>     
                <div class="mat-cell">
                    <div class="p-1 actions">          
                        <button mat-mini-fab color="primary" matTooltip="Edit" (click)="openCustomerDialog(customer)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" matTooltip="Delete" class="mx-1" (click)="remove(customer)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>      
            </div> -->
    </div>
  </mat-card>

  <!-- <div *ngIf="customers.length > 0" fxLayout="row wrap">
        <div fxFlex="100"> 
            <mat-card class="p-0 text-center">           
                <pagination-controls class="product-pagination" autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)"></pagination-controls>
            </mat-card>
        </div>
    </div> -->
</div>
