<div class="p-1">
  <mat-card>
    <mat-card-header>
      <mat-card-title
        >{{ productId ? "Edit" : "Add New" }} Product</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <div fxFlex="20" class="px-2" *ngIf="productId > 0">
        <p class="mt-1">
          <span class="uppercase fw-500">Product Image</span
          ><span class="text-muted px-1">(max 1 images)</span>
        </p>
        <button
          mat-raised-button
          class="blue small small-mat-raised-button-small"
          (click)="productFileInput.click()"
        >
          <mat-icon class="small-mat-icon">cloud_upload</mat-icon>
          <input
            #productFileInput
            type="file"
            class="form-control"
            name="documents"
            (change)="onFileChange($event, 2)"
            style="display: none"
          />
        </button>
      </div>
      <form
        [formGroup]="productForm"
        (ngSubmit)="saveProduct()"
        autocomplete="off"
        fxLayout="row wrap"
      >
        <div fxFlex="60" class="px-2">
          <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required />
                <mat-error *ngIf="productForm.controls.name.errors?.required"
                  >Name is required</mat-error
                >
              </mat-form-field>
            </div>

            <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Category</mat-label>
                <mat-select formControlName="categoryId" required>
                  <mat-option
                    *ngFor="let item of productCategories"
                    [value]="item.id"
                  >
                    <span>{{ item.name }}</span>
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="productForm.controls.categoryId.errors?.required"
                  >Category is required</mat-error
                >
              </mat-form-field>
            </div>

            <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Price</mat-label>
                <input matInput formControlName="price" type="number" />
                <mat-error *ngIf="productForm.controls.price.errors?.required"
                  >Price is required</mat-error
                >
              </mat-form-field>
            </div>

            <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Quantity</mat-label>
                <input matInput formControlName="quantity" type="number" />
                <mat-error
                  *ngIf="productForm.controls.quantity.errors?.required"
                  >Quantity is required</mat-error
                >
              </mat-form-field>
            </div>

            <div fxFlex="100" class="px-1">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Description</mat-label>
                <textarea
                  matInput
                  formControlName="description"
                  rows="7"
                ></textarea>
                <mat-error
                  *ngIf="productForm.controls.description.errors?.required"
                  >Description is required</mat-error
                >
              </mat-form-field>
            </div>

            <div fxFlex="100" class="mt-2 text-center w-100">
              <button mat-raised-button color="primary" type="submit">
                {{ productId ? "Edit" : "Save" }} Product
              </button>
            </div>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card
    class="p-0"
    *ngIf="product.productImages.length > 0 && productId > 0"
  >
    <div
      fxLayout="row wrap"
      fxLayoutAlign="space-between center"
      class="w-100 p-2"
    >
      <h2>Product Images</h2>
      <button
        mat-raised-button
        class="blue small small-mat-raised-button-small"
        (click)="productFileInput.click()"
      >
        <mat-icon class="small-mat-icon">cloud_upload</mat-icon>
        <input
          #productFileInput
          type="file"
          class="form-control"
          name="documents"
          (change)="onFileChange($event, 2)"
          style="display: none"
        />
      </button>
    </div>
    <mat-divider></mat-divider>
    <div class="mat-table admin-table">
      <div class="mat-header-row">
        <div class="mat-header-cell">Image</div>
        <div class="mat-header-cell">Download</div>
        <div class="mat-header-cell">Delete</div>
      </div>
      <div *ngFor="let item of product.productImages" class="mat-row">
        <div class="mat-cell">
          <img class="product-image" [src]="item.attachment" />
        </div>
        <div class="mat-cell">
          <div class="p-1 actions">
            <button mat-mini-fab color="primary" matTooltip="Edit">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn" matTooltip="Delete" class="mx-1">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
