<mat-toolbar class="top-navbar mat-elevation-z2" fxLayoutAlign="center center">
  <a
    mat-button
    routerLink="/"
    routerLinkActive="horizontal-active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
  >
  <a mat-button [matMenuTriggerFor]="menu" (click)="openMegaMenu()"
    >Fashion<mat-icon class="caret">arrow_drop_down</mat-icon></a
  >
  <mat-menu
    #menu="matMenu"
    [overlapTrigger]="false"
    class="mega-menu app-dropdown"
  >
    <div fxLayout="row wrap">
      <div fxFlex="20" class="p-1">
        <mat-card class="mega-menu-widget p-0">
          <mat-chip-list>
            <mat-chip color="warn" selected="true">50% OFF</mat-chip>
          </mat-chip-list>
        </mat-card>
      </div>
    </div>
  </mat-menu>

  <a
    mat-button
    [routerLink]="['/products', 'jewellery']"
    routerLinkActive="horizontal-active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    >Category 1</a
  >
  <a
    mat-button
    [routerLink]="['/products', 'electronics']"
    routerLinkActive="horizontal-active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    >Category 2</a
  >
  <a
    mat-button
    [routerLink]="['/products', 'sports']"
    routerLinkActive="horizontal-active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    >Category 2</a
  >
  <!-- <a mat-button [routerLink]="['/products', 'motors']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Motors</a> -->

  <a mat-button [matMenuTriggerFor]="animals"
    >Pages<mat-icon class="caret">arrow_drop_down</mat-icon></a
  >
  <mat-menu #animals="matMenu" [overlapTrigger]="false" class="app-dropdown">
    <a
      mat-menu-item
      routerLink="/products"
      routerLinkActive="horizontal-active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      >All products</a
    >
    <a
      mat-menu-item
      [routerLink]="['/products', '2', 'PC All-in-One']"
      routerLinkActive="horizontal-active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      >Product detail</a
    >
    <a
      mat-menu-item
      routerLink="/contact"
      routerLinkActive="horizontal-active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      >Contact</a
    >
    <a mat-menu-item routerLink="/sign-in">Sign in</a>
    <a mat-menu-item routerLink="/404">404 Error</a>
    <a mat-menu-item routerLink="/landing">Landing</a>
    <a mat-menu-item [matMenuTriggerFor]="others">Others</a>
  </mat-menu>

  <mat-menu #others="matMenu" class="app-dropdown">
    <a mat-menu-item href="http://themeseason.com" target="_blank"
      >External Link</a
    >
    <a mat-menu-item>Menu item</a>
    <a mat-menu-item>Menu item</a>
    <a mat-menu-item>Menu item</a>
  </mat-menu>

  <a
    mat-button
    routerLink="/contact"
    routerLinkActive="horizontal-active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    >Contact</a
  >
  <a
    mat-button
    routerLink="/authentication"
    routerLinkActive="horizontal-active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    >Sign-In</a
  >
  <a
    mat-button
    routerLink="/admin"
    routerLinkActive="horizontal-active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    >Admin Panel</a
  >
</mat-toolbar>
